<!-- start custom head snippets -->
<link href="https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:300,700" rel="stylesheet">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favico/favicon-16x16.png">
<link rel="manifest" href="/assets/images/favico/site.webmanifest">

<!-- end custom head snippets -->
