---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$serif              : "Open Sans", Georgia, Times, serif;
$sans-serif-narrow  : "Archvio", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

$global-font-family : $serif;
$header-font-family : $sans-serif-narrow;

/* Colors */
$background-color: #FFFFFF !default;
$text-color: #000000 !default;
$muted-text-color: #393e46 !default;
$primary-color: #004A98 !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #A3826D !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #000 !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials 

